p{
    text-align: center;
    color: red;
}
#para1{
    text-align: center;
    color: green;
}
.para2{
    text-align: center;
    color: blue;
}

h1, h2, h3 {
    text-align: center;
    color: blue;
}

/* Selector untuk tautan yang belum di klik */
a {
    color: blue; /* Mengubah warna teks menjadi biru */
    text-decoration: none; /* Menghapus garis bawah pada teks */  
}

/* Selector untuk tautan yang sudah di klik */
a:visited {
    color: yellow; /* Mengubah warna tautan yang sudah di klik */
}

/* Selector untuk tautan saat dihover (ketika kursor berada di atasnya) */
a:hover {
    color: red; /* Mengubah warna tautan saat dihover menjadi merah */
    text-decoration: none; /* Menghapus garis bawah saat dihover */
}

/* Selector untuk tautan yang sedang aktif (saat diklik) */
a:active {
    color: green; /* Mengubah warna tautan saat diaktif menjadi hijau */
}

body {
    font-family: Arial, sans-serif;
    background : #f0f0f0;
    margin: 0;
    padding: 0;    
}

header { 
    background-color: #31013f;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #be6bda;
    color: #f0e3e4;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

main {
    padding: 20px;
}